.title-section {
    padding: 20px 100px;
}

.text-section {
    height: 100%;
    width: 100%;
    font-size: 2.4em;
    background-color: rgb(40, 104, 104);
    color: #ffffff;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
    margin: 0;
    margin-left: 20px;
}

.chart-section {
    margin: 0px 100px !important;
}

.date-section {
    padding: 10px 30px;
}

.MuiFormControl-root-125 {
    margin-top: 20px !important;
    margin-left: 20px !important;
}

element.style {
    display: block;
    width: 600px;
    height: 300px;
}